html, body {
    margin: 0;
    height: 100%;
    width: 100%;
  }
  
#map {
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
}
#mapoptions {
    top: 2;
    left: 0;
    height: 30px;
    align-items: center;
    background-color:grey;
    z-index: 20;
}
#lblchk {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    z-index: 21;
}
#airplane  {
    width: 36px;
    height:36px;
    transform: rotate(0deg);
}
#mymetar {
    font-family: Arial, Helvetica, sans-serif;
    font-size:small;
}
.metarifr {
    background-color:#ff0000;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:larger;
    font-weight: bold;
}
.metarlifr {
    background-color: #f984f9;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: bold;
}
.metarmvfr {
    background-color: #0000cd;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: bold;
}
.metarvfr {
    background-color: #12f23c;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size:larger;
    font-weight: bold;
}
.wxbuttons {
    position:absolute;
    top:82%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right:10px;
    padding-left: 10px;
    left:8px;
    background-color:#AAD3DF;
    visibility: hidden;
}
.wxbutton {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.isoregion {
    position:absolute;
    top:88%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right:10px;
    padding-left: 10px;
    left:8px;
    background-color:#AAD3DF;
    visibility: hidden;
}
.regionlabel {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.regionselect {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
  }

  .ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  .ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
  }

  .ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
  }

  .ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
  }
  .dot {
      width:45px;
      height:45px;
      visibility: hidden;
  }
